@charset "utf-8";

.he1{
    font-size:xx-small;
}
.he2{
    font-size:x-small;
}
.he3{
    font-size: small;
}
.he4{
    font-size: medium;
}
.he5{
    font-size: large;
}
.he6{
    font-size: x-large;
}