@charset "utf-8";

.he1{
    font-size:x-small;
}
.he2{
    font-size:small;
}
.he3{
    font-size:smaller;
}
.he4{
    font-size: medium;
}
.he5{
    font-size: large;
}
.he6{
    font-size: larger;
}